/*------------- #THEME-STYLES --------------*/
/*------------- #VARIABLES --------------*/
/*------------- #HEADER --------------*/


.header-content-wrapper {
  height: 100%; }

.header-spacer {
  display: block;
  height: 110px; }

.header-spacer-small {
  height: 70px; }




.link-find-friend {
  padding: 25px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  display: inline-block; }

.control-icon {
  margin-right: 30px;
  fill: #9a9fbf; }
  .control-icon > svg {
    height: 20px; }
  .control-icon.has-items {
    fill: #fff; }
  .control-icon .label-avatar {
    width: 19px;
    height: 19px;
    line-height: 19px;
    top: -12px;
    right: -9px; }
  .control-icon .more-dropdown {
    width: 380px;
    top: 35px;
    right: -185px;
    padding: 0 0 70px 0; }
    .control-icon .more-dropdown .view-all {
      padding: 20px;
      color: #fff; }
      .control-icon .more-dropdown .view-all:hover {
        color: #fff; }
    .control-icon .more-dropdown .notification-list {
      padding: 0; }
  .control-icon .ui-block-title a {
    display: inline-block;
    float: right;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 9px;
    padding: 0; }
  .control-icon .accept-request {
    padding: 0.5rem;
    font-size: 0.688rem;
    color: #fff;
    display: inline-block; }
    .control-icon .accept-request:hover {
      color: #fff; }
  /*.control-icon .notification-list .author-thumb {
    height: 34px;
    width: 34px;
    margin-right: 0;
    overflow: hidden; }*/
  .control-icon .notification-list .notification-friend {
    padding: 0;
    font-size: 14px; }
  .control-icon .notification-list .notification-link {
    padding: 0;
    display: inline-block; }
  .control-icon .notification-list .notification-event {
    width: 75%; }
  .control-icon .notification-list.friend-requests .accepted .notification-link {
    padding: 0;
    display: inline-block; }
  .control-icon .notification-list.friend-requests .accepted .notification-icon {
    margin-top: 0; }
  .control-icon .notification-list.friend-requests .notification-event {
    width: 60%; }
  .control-icon .notification-list .comment-photo {
    margin-top: 15px;
    max-width: 215px; }
    .control-icon .notification-list .comment-photo span {
      font-size: 11px; }
  .control-icon .notification-list li > * {
    vertical-align: top; }
  .control-icon .notification-list .notification-icon {
    margin-top: 0; }
    .control-icon .notification-list .notification-icon svg {
      height: 20px;
      width: 20px; }
  .control-icon .chat-message li.chat-group .author-thumb {
    width: 36px; }
  .control-icon .notification-list.chat-message .notification-icon svg {
    height: 24px;
    width: 24px; }
  .control-icon .mCustomScrollbar {
    overflow: hidden;
    max-height: 300px; }
  .control-icon .mCSB_scrollTools {
    opacity: 0;
    z-index: -1;
    visibility: hidden; }

.view-all {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 20;
  padding: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  display: block;
  text-align: center;
  border-radius: 0 0 5px 5px; }
  .view-all:hover {
    color: #fff; }

.account-settings {
  padding: 15px 25px;
  margin-bottom: 0; }
  .account-settings a {
    padding: 13px 0;
    font-size: 12px;
    color: #515365;
    display: block;
    font-weight: 700; }
    .account-settings a:hover {
      color: #ff5e3a; }
    .account-settings a > * {
      display: inline-block;
      vertical-align: middle; }

.custom-status {
  margin: 15px 25px; }
  .custom-status input {
    padding: 0.5rem 1.1rem;
    font-size: 12px; }
  .custom-status.form-group.with-button button {
    border-radius: 0 5px 5px 0;
    background-color: #7c5ac2;
    overflow: hidden; }
    .custom-status.form-group.with-button button svg {
      fill: #fff;
      width: 14px;
      height: 12px; }

.account-settings a {
  padding: 13px 0; }

.account-settings svg {
  margin-right: 15px;
  fill: #9a9fbf;
  width: 20px;
  height: 20px; }

/*--------TOP-HEADER--------*/
.top-header {
  position: relative; }
  .top-header.top-header-favorit .top-header-author {
    transform: translate(0);
    left: 100px;
    bottom: -40px;
    z-index: 5; }
  .top-header.top-header-favorit .author-thumb {
    float: left;
    margin-right: 30px; }
  .top-header.top-header-favorit .author-content {
    text-align: left;
    margin-top: 20px;
    float: left;
    color: #fff; }
  .top-header.top-header-favorit .author-name {
    color: #fff; }

.top-header-thumb {
  position: relative; }
  .top-header-thumb img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden; }
  .top-header-thumb:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -120px 55px -30px rgba(0, 0, 0, 0.5); }

.profile-menu {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around; }
  .profile-menu .more-dropdown {
    width: 230px;
    top: calc(100% + 10px);
    right: -25px; }
    .profile-menu .more-dropdown li {
      display: block; }
  .profile-menu li .more-dropdown a {
    padding: 10px 0;
    font-size: 13px; }

.top-header-author {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 15px;
  text-align: center; }
    .top-header-author .author-thumb img {
      border-radius: 0; }

.profile-section {
  position: relative;
  padding: 38px 0; }
  .profile-section .control-block-button {
    position: absolute;
    right: 38px;
    top: -31px; }

/*--------HEADER-LANDING--------*/
.header-landing {
  padding: 40px 0;
  float: left;
  width: 100%;
  margin-bottom: 40px; }
  .header-landing svg {
    width: 18px;
    height: 14px; }
  .header-landing .logo {
    float: left;
    background-color: transparent;
    padding: 0; }
    .header-landing .logo img {
      margin-right: 13px; }
  .header-landing .profile-menu {
    float: right; }
    .header-landing .profile-menu.expanded-menu li a {
      visibility: visible;
      opacity: 1; }
  .header-landing .profile-menu li a {
    padding: 12px 25px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    fill: #fff;
    display: block;
    visibility: hidden;
    opacity: 0; }
    .header-landing .profile-menu li a.js-expanded-menu {
      visibility: visible;
      opacity: 1; }
  .header-landing .profile-menu li:first-child a {
    padding-left: 0; }
  .header-landing .profile-menu li:last-child a {
    padding-right: 0; }

/*------------- #Styles for svg-icons --------------*/
[class^="olymp-"], [class*=" -icon"] {
  height: 26px;
  width: 26px;
  display: inline-block; }

.post__likes-small {
  width: 16px;
  height: 14px; }

.post__shared-small {
  width: 24px;
  height: 21px; }

.post__comments-small {
  width: 18px;
  height: 16px; }

.post__likes {
  width: 20px;
  height: 18px; }

.post__comments {
  width: 22px;
  height: 20px; }

.post__shared {
  width: 26px;
  height: 21px; }

.fav-icon {
  width: 20px;
  height: 20px; }

.arrow-down-icon {
  width: 6px;
  height: 4px; }

.olymp-three-dots-icon {
  width: 16px;
  height: 4px; }

.olymp-little-delete {
  width: 8px;
  height: 8px; }

.olymp-trophy-icon {
  width: 18px;
  height: 16px; }

/*------------- Responsive mode styles --------------*/
@media (max-width: 1350px) {
  .search-bar.w-search {
    max-width: 300px; } }

@media (max-width: 1150px) {
  .author-page .author-name {
    display: none; }
  .author-page .more-dropdown {
    right: -8px;
    top: calc(100% + 10px); } }

@media (max-width: 1080px) {
  .control-icon .more-dropdown {
    width: 320px;
    right: -140px; }
  .control-icon .notification-list .notification-icon {
    float: none;
    margin-top: 10px; }
  .control-icon .notification-list.friend-requests .accepted .notification-icon {
    float: right; }
  .header .page-title {
    display: none; }
  .header {
    padding-left: 70px; }
  .header-content-wrapper {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 1024px) {
  .control-icon {
    margin-right: 20px; }
  .author-page {
    margin-left: 10px; } }

@media (max-width: 800px) {
  .search-bar.w-search {
    max-width: 200px; }
  .search-bar.w-search .selectize-dropdown {
    display: none !important; } }

@media (max-width: 768px) {
  .header {
    min-width: 700px; }
  .container {
    min-width: 700px; }
  body {
    min-width: 750px; }
  .fixed-sidebar.right {
    display: none; }
  .top-header-author {
    bottom: auto;
    top: -40px;
    color: #fff; }
    .top-header-author .author-name {
      color: #fff; }
  .top-header.top-header-favorit .top-header-author {
    bottom: 0;
    top: auto; }
  .profile-section .control-block-button {
    right: 10px; }
  .profile-section {
    padding: 30px 0; }
  .profile-menu {
    margin-bottom: 10px; } }

/*------------- #Mobile APP --------------*/
.mobile-app .chat-settings {
  padding: 15px 40px; }
  .mobile-app .chat-settings a {
    color: #888da8;
    padding: 7px 0;
    display: block; }
    .mobile-app .chat-settings a:hover {
      color: #515365; }
  .mobile-app .chat-settings .icon-status {
    margin-right: 20px;
    position: relative;
    border: none; }

.mobile-app .olympus-chat {
  position: relative;
  display: block; }

.mobile-app .sidebar--large .olympus-chat {
  padding: 25px 15px 25px 50px; }

.mobile-app .search-friend {
  position: relative;
  bottom: auto;
  box-shadow: none; }

.mobile-app .fixed-sidebar {
  position: fixed;
  float: none;
  min-height: 70px; }
  .mobile-app .fixed-sidebar.open {
    min-height: 1000vh; }

.mobile-app .fixed-sidebar-right.sidebar--large {
  width: 260px;
  position: absolute; }

.mobile-app .fixed-sidebar .search-friend svg {
  width: 16px;
  height: 16px; }

.mobile-app .fixed-sidebar-right {
  padding-bottom: 0;
  border-left: none;
  bottom: auto; }

.mobile-app .header {
  padding-left: 70px; }
  @media (max-width: 768px) {
    .mobile-app .header {
      min-width: 300px; } }

.mobile-app .fixed-sidebar.right {
  top: 0;
  z-index: 30;
  min-height: 70px; }
  .mobile-app .fixed-sidebar.right.open {
    min-height: 1000vh; }
  @media (max-width: 768px) {
    .mobile-app .fixed-sidebar.right {
      display: block; } }

.mobile-app .fixed-sidebar.right .mCustomScrollbar {
  max-height: calc(100vh - 140px); }

.mobile-app .fixed-sidebar .mCustomScrollbar {
  max-height: calc(100vh - 70px); }

.mobile-app .fixed-sidebar {
  transition: all .3s ease; }

.mobile-app .fixed-sidebar .ui-block-title:first-child {
  border-top: 1px solid #e6ecf5; }

.mobile-app .fixed-sidebar-left .ui-block-title:first-child {
  border-top: none; }

.mobile-app .fixed-sidebar-left.sidebar--small {
  height: auto;
  position: absolute; }

.mobile-app .left-menu {
  padding: 0; }

.mobile-app .left-menu a {
  color: #515365; }
  .mobile-app .left-menu a:hover {
    color: #ff5e3a; }

.mobile-app .fixed-sidebar-left.sidebar--large {
  width: 260px;
  position: absolute; }

.mobile-app .fixed-sidebar-right.sidebar--small {
  position: absolute; }

.mobile-app .about-olympus {
  padding: 0 25px;
  margin-bottom: 15px; }
  .mobile-app .about-olympus a {
    padding: 7px 0;
    font-size: 12px;
    color: #515365;
    display: block;
    font-weight: 700; }
    .mobile-app .about-olympus a:hover {
      color: #ff5e3a; }

.mobile-app .search-bar.w-search {
  width: 100%;
  max-width: 100%; }

.mobile-app .top-header-author {
  position: relative;
  bottom: auto;
  margin-top: -20px;
  color: #888da8; }
  .mobile-app .top-header-author .author-name {
    color: #515365; }

.mobile-app .comment-form .form-group {
  width: 80%; }

.mobile-app .ui-block {
  margin-bottom: 40px; }

.mobile-app .profile-section .control-block-button {
  right: auto;
  top: auto;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -22px;
  width: 100%;
  text-align: center; }

.mobile-app .post-control-button .btn-control {
  display: inline-block; }

.mobile-app .post .control-block-button {
  right: 20px;
  top: -13px; }

.mobile-app .post-additional-info .comments-shared {
  margin-top: 0; }

.mobile-app .post__author .more {
  margin-right: 0; }

.mobile-app .post-video .video-content {
  padding: 4px 12px; }

.mobile-app .view-all {
  position: relative;
  bottom: auto; }

.mobile-app .ui-block-title a {
  color: #515365; }

.mobile-app .ui-block-title .items-round-little {
  color: #fff; }

.mobile-app .notification-list .notification-event {
  padding-left: 10px; }

.mobile-app .friend-requests .chat-message-item {
  font-size: 10px; }

.mobile-app .notification-list .notification-friend {
  font-size: 13px; }

.mobile-app .notification-list.chat-message .notification-event {
  width: auto; }

.mobile-app .icon-close {
  right: 50%;
  margin-right: -9px; }

.mobile-app .main-header {
  max-width: 100%;
  padding: 40px 15px 90px; }

.mobile-app .img-bottom {
  max-height: 80px; }

.mobile-app .choose-photo-item {
  padding: 0 5px 5px 0; }

.mobile-app .choose-from-my-photo .btn + .btn {
  margin-left: 5px; }

.mobile-app-tabs {
  background-color: #3f4257;
  border-bottom-color: transparent;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  height: 70px;
  padding: 0 13px;
  position: relative; }
  .mobile-app-tabs .nav-link {
    height: 100%;
    border-color: transparent;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mobile-app-tabs .nav-link:hover, .mobile-app-tabs .nav-link:focus {
      border-color: transparent; }
  .mobile-app-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 3px solid #ff5e3a; }
    .mobile-app-tabs .nav-link.active svg {
      fill: #fff; }
  .mobile-app-tabs .nav-item {
    margin-bottom: 0;
    height: 70px; }
  .mobile-app-tabs svg {
    fill: #9a9fbf;
    height: 20px;
    width: 24px; }
  .mobile-app-tabs .control-icon {
    position: relative;
    margin-right: 0;
    display: flex; }

.nav-tabs .app-tabs-close {
  position: absolute;
  bottom: -55px;
  left: 50%;
  margin-left: -33px;
  z-index: 20; }
  .nav-tabs .app-tabs-close:hover svg {
    fill: #ff5e3a; }

@media (max-width: 768px) {
  body.mobile-app {
    min-width: 300px;
    overflow-x: hidden; }
  .mobile-app .container {
    min-width: 300px; } }

@media (max-width: 480px) {
  .mobile-app .choose-photo-item {
    width: 50%; }
  .mobile-app .upload-photo-item {
    padding: 10px; }
  .mobile-app .choose-from-my-photo .btn {
    width: 100%; }
  .mobile-app .upload-photo-item svg {
    margin-bottom: 10px; }
  .mobile-app .remember a {
    float: none;
    display: block; }
  .mobile-app .page-link {
    padding: 10px; }
  .mobile-app .notification-list.friend-requests .notification-icon {
    float: none;
    display: block;
    margin-top: 10px; } }

@media (max-width: 460px) {
  .mobile-app .notification-list .notification-event {
    width: 50%; } }

