body, input, select, textarea {
	color: #7f888f;
	font-family: "Open Sans", sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 1.65;
}
#PARENT_PANE{
    padding-top: 50px;
}
.elementli {
    padding-top: 10px;
    border-bottom: groove;
    padding-left: 100px;
    padding-right: 100px;
    border-width: 1px;
    /*opacity: 0.48;*/
    font: normal 21px/2 Georgia, serif;
    /*color: black;*/
    text-indent: 17px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-bottom: 5px;
}
.email{
  padding-left:50px;
  letter-spacing: 0px;
  font: normal 12px/2 Georgia, serif;
  
}
.elementui {
    padding-top: 30px;

}

ul {
    list-style: none;
    width: 90%;
}

.internship {
    float: right;
    background-color: #FFC425;
    color: #000000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-right: 15px;
}

.both-btn {
    display: flex;
    justify-content: center;
}

.counterbox {
    box-sizing: content-box;
    /*width: 500px;*/
    width:45%;
    margin: 70px;
    padding: 32px;
    overflow: hidden;
    border: none;
    color: rgba(255, 255, 255, 1);
    text-overflow: ellipsis;
    -webkit-box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
}

.infoedit {
    padding-top: 10px;
    /*opacity: 0.48;*/
    font: normal 16px/2 Georgia, serif;
    color: black;
    text-indent: 17px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.counter {
    border: none;
    font: normal 18px/1 Georgia, serif;
    color:#FFC425;
    float: right;
    letter-spacing: 1px;
}

.counteredits {
    margin-left: 41px;
}

.detail {
    box-sizing: content-box;
    width: 160px;
    padding: 20px;
    border: 1px solid rgba(162, 205, 239, 1);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(164, 212, 234, 1);
    box-shadow: 1px 1px 1px 0 rgba(164, 212, 234, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin: 10px;
}



.login-input{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font: italic normal normal 16px/normal Georgia, serif;
  color: #000033;
  -o-text-overflow: clip;
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 4px 0 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 4px 0 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  margin: 10px;
}

.login .container{
    padding-top: 10%;
    text-align: center;
    color: #000033;
}
.form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.download {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #000;
  font-size: 20px;
  background: #FFC425;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top:20px;
  margin-left:30px;
}
.buttons{
  margin-left:50px;  
}
#QUESTION_BOX{
     margin: 70px;
    padding: 32px;
    box-sizing: content-box;
    overflow: hidden;
    border: none;
    text-overflow: ellipsis;
    -webkit-box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 85%;

}



/* -----------------------------------------------------------------------------

  CONTAINER OBJECTS
  
----------------------------------------------------------------------------- */
.o-container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 90%;
}

@media all and (min-width: 480px) {
  .o-container {
    padding: 0 24px;
  }
}

@media all and (min-width: 720px) {
  .o-container {
    padding: 0 48px;
  }
}

.c-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  padding: 12px;
}


.c-item__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 96px;
      -ms-flex: 0 0 96px;
          flex: 0 0 96px;
  height: 96px;
  background-color: #e7e7e7;
  border-radius: 100%;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
    padding-left: 17px;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') 0 -16px;
}

.rating-star-yellow {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') 0 -16px;
    background-position: 0 0;

}
.rating-star-white{
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') 0 -16px;
}

#review{
    margin-top: 15px;
    width: 80%;
    display: inline-block;
    position: relative;
    margin-left: 15px;
    border-bottom: 1px solid black;
    cursor:auto;
}
#ADD_COMMENT{
    margin: 70px;
    padding: 32px;
    box-sizing: content-box;
    overflow: hidden;
    border: none;
    text-overflow: ellipsis;
    -webkit-box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    width: 85%;
}
#review:focus{
    outline: none;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
button:focus{
    outline: none;
}
#submit{
    margin-left: 75px;
}
.submit{
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #000;
  font-size: 20px;
  background: #FFC425;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin-top:20px;
  margin-left:10px;
}
.edit_account{
    color:gray;
    text-align: right;
    box-sizing: content-box;
    overflow: hidden;
    -webkit-box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    float: right;
    border: 2px solid gray;    
}
/*Style for paging*/

.pagination{   
    position: absolute;
    bottom: 0; 
    color:#7f888f;
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #7f888f;
    border-color: #7f888f;
}
.pagination>li>a, .pagination>li>span {
    color: #7f888f;
}
.center{
    text-align: center;
}

li { cursor: pointer; }

.filter{
    float: center;
    background-color: #FFC425;
    color: #000000;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 10px;
}
.active{
    background-color: #000000;
     color: #FFC425;
}
#CANDIDATES_OPTION{
    display: flex;
  align-items: center;
  justify-content: center;
  margin-top:20px;
    
}
#ADD_COMMENT [placeholder]:empty:focus:before {
    content:"";
    min-height:40px;
}
#ADD_COMMENT #review{
    cursor:auto;
}